<br><br>
<div class="container-md mt-5 my-5 border-bottom"><h1>Carrinho de Compras</h1></div>
<div class="row mx-3 border-bottom" >
  <table class=" border">
    <thead>
      <tr class="border-bottom">
        <th class="col-1 border"><img src="https://www.pngkey.com/png/full/295-2951957_infinito-blanco-png-simbolo-infinito-blanco-png.png" width="30px" alt=""></th>
        <th class="col-5 border">Item</th>
        <th class="col-4 border">Quantidade</th>
        <th class="col-2 border">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="sla border">1</td>
        <td class="sla">Pc Gamer</td>
        <td class="sla border">1</td>
        <td class="sla border">R$120,00</td>
      </tr>
    </tbody>
    <tfoot class="border-top">
      <tr>
        <th class="border">TOTAL</th>
        <th></th>
        <th></th> 
        <th class="border">R$120,00</th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="d-flex justify-content-between mt-4 mx-3">
  <button class="quadrado">Limpar Carrinho</button>
  <button class="quadrado">Concluir Compra</button>
</div>
<style>
  th{
    text-align: center;
  }
  .sla{
    border-bottom: 10px;
    border-top: 10px;
    text-align: center;
  }
</style>