<br><br>
<div class="container-md mt-5 my-5 border-bottom"><h1>Pesquisa por: <b>Gabinete Gamer</b></h1></div>
<div class="row">
    <div class="col-xl-3 col-lg-6 col-sm-12 mb-3
    ">
        <div class="card color-changing-element" style="width: auto;">
        <a href="detalhe-produto">
            <img class="card-img-top" src="https://media.pichau.com.br/media/catalog/product/cache/2f958555330323e505eba7ce930bdf27/c/m/cm-h71fw-r15.jpg" alt="Card image">
        </a>
            <div class="card-body">
            <h4 class="card-title">Gabinete Gamer</h4>
            <p class="card-text">GABINETE GAMER NZXT H7 FLOW RGB, MID-TOWER, LATERAL DE VIDRO, COM 4 FANS...</p>
            <p class="card-text">R$300,00</p>
            <a href="carrinho-compras" class="btn btn-primary custom-button">Comprar</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-sm-12" >
            <div class="card color-changing-element" style="width: auto;">
                <a href="detalhe-produto">
                    <img class="card-img-top" src="https://cdn.dooca.store/2147/products/yok4tkxjzcgeytr6ds9hi38oi0d8fgnprhej_640x640+fill_ffffff.jpg?v=1663874709&webp=0" alt="Card image">
                </a>
                    <div class="card-body">
                    <h4 class="card-title">Gabinete Gamer Atx Com 3 Fans Rgb Lateral Vidro Temperado</h4>
                    <p class="card-text">Pentamax tem a missão de levar ao consumidor qualidade e satisfação oferecendo garantia, nota fiscal, atendimento pôs vendas e suporte técnico, somos mercadolíder platinum, um dos melhores do site</p>
                    <p class="card-text">R$263,99</p>
                    <a href="carrinho-compras" class="btn btn-primary custom-button">Comprar</a>
                    </div>
                </div>
    </div>
</div>
<div class="image"> 
    <a href="carrinho-compras">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB9klEQVR4nO2Xv8tBYRTHD7KQAX+CUQYxSUaF0WhU/AF+ZWCgJJnYDcpgY7AxKNksLJYbE/+ClL5vz633ljd5e++v53p7Tn2ne+7t+zmd89zzEBHhw0W8DUAAEP8qQrQQ8a8kxBDTZ4p4G4AAIP5VhGgh+q9DHAgEcDgcIEnSk2azGRwOh/UBotEo7vc7XkUwGLQ+ABHB7XbD6/Uqms/nMsBwOEShUNBNoVDIGICfarfbMCL2+705ALlczhCA5XJpDkA4HDYEYDAYmAPgcrnweDx0BygWi+YAMJ1OJ90B4vG4eQCLxUJ3AJ/PZx5Av9/X1fz1elXlQzVAPp+3wgkE1QCxWExXgHq9bi4A+yPrFbvdDh6Px1wApsvlIhvo9Xqo1Wp/VrVaRTabhdPpVO1BE8BqtZIBMpmMFgPQKPUvs75lcT6f5VOp2+3+Wel0mh8A21K3262m/j8ej/wAmNilJpVKoVQqqZqBSCTCF8ACIs0fYa1UqVTQaDR+XQf8fj+azSbK5bK8FFoCYDqdKj29Xq/f5m42GyV3MplYA4CdQt9xu91gs9le5tnt9qf7tSRJ1gDodDqKqdFo9DZ3PB4rua1WyxoATIlEAslkUq7yuzz2nOWp3P1hGABHEW8DEADEv4oQLUT8KwkxxPSZIt4GIACIfxVV6wv44HcvywZ4GgAAAABJRU5ErkJggg==" class="rounded-pill border canto fixed " alt="">
    </a>
  </div> 