<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container-fluid d-flex align-items-center">
    
    <a class="navbar-brand float-start" href="vitrine">
      <img class="rounded logo" src="https://www.pngkey.com/png/full/295-2951957_infinito-blanco-png-simbolo-infinito-blanco-png.png" alt="Avatar Logo" style="width: 40px">
    </a>

    <ul class="navbar-nav ">
      <li class="nav-item">
        <a  class="navbar-brand" routerLink="vitrine">Menu</a>
      </li>
    </ul>
    <form class="d-flex mx-auto">
      <input class="form-control me-2" type="text" placeholder="Search">
      <a href="pesquisa">
        <button class="quadrado" type="button"><b>Pesquisar</b> </button>
      </a>
    </form>

    <a class="navbar-brand form-r" href="login">
      <img src="https://w7.pngwing.com/pngs/1000/665/png-transparent-computer-icons-profile-s-free-angle-sphere-profile-cliparts-free.png" alt="Avatar Logo" style="width: 30px; margin-right: auto;"
      class="rounded-pill">
    </a>
  </div>
</nav>

<div class="container">
  <router-outlet> 
  </router-outlet>
</div>
