
<br><br>
<div class="container-md mt-5 my-5 border-bottom"><h1>vitrine</h1></div>

<div class="row ">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card color-changing-element" style="width: auto;">
            <a href="detalhe-produto">
                <img class="card-img-top" src="https://media.pichau.com.br/media/catalog/product/cache/2f958555330323e505eba7ce930bdf27/c/m/cm-h71fw-r15.jpg" alt="Card image">
            </a>
                <div class="card-body">
                <h4 class="card-title">GABINETE GAMER NZXT H7 FLOW RGB, MID-TOWER, LATERAL DE VIDRO</h4>
                <p class="card-text">GABINETE GAMER NZXT H7 FLOW RGB, MID-TOWER, LATERAL DE VIDRO, COM 4 FANS, BRANCO, CM-H71FW-R1</p>
                <p class="card-text">R$300,00</p>
                <a href="detalhe-produto" class="btn btn-primary custom-button">Detalhes do Produto</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card" style="width: auto;">
            <a href="detalhe-produto">
                <img class="card-img-top" src="https://vivensis.vtexassets.com/arquivos/ids/155437/Teclado-Mamba-Product-Image02.png?v=638055295894930000" alt="Card image">
            </a>
                <div class="card-body">
                <h4 class="card-title">Teclado Gamer Mecânico Switch Red Mamba Viper Pro</h4>
                <p class="card-text">Com o Mamba, da Viper Pro, você estará pronto para conquistar suas partidas com precisão e confiabilidade. Ele possui um sistema de teclas mecânico com switch vermelho que garante respostas rápidas e precisas. Seu sistema de resposta é mecânico, portanto consegue trazer rapidez e precisão em cada tecla. Conta com sistema de iluminação RGB, capaz de ajustar o brilho e o estilo retroiluminado conforme necessário.</p>
                <p class="card-text">R$250,00</p>
                <a href="detalhe-produto" class="btn btn-primary custom-button">Detalhes do Produto</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card " style="width: auto;">
            <a href="detalhe-produto">
                <img class="card-img-top" src="https://pulsogamer.com.py/8665-large_default/mouse-gamer-redragon-m720-vampire-rgb.jpg" alt="Card image">
            </a>
                <div class="card-body">
                <h4 class="card-title">Mouse Redragon Vampire M720</h4>
                <p class="card-text">O Mouse Redragon Vampire M720 é um dispositivo de alta qualidade, projetado para atender às necessidades de jogadores e profissionais que buscam desempenho e conforto. Com seu design ergonômico, ele se encaixa perfeitamente na mão, proporcionando uma experiência de uso confortável durante longas sessões de trabalho ou jogos.</p>
                <p class="card-text">R$200,00</p>
                <a href="detalhe-produto" class="btn btn-primary custom-button">Detalhes do Produto</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card" style="width: auto;">
            <a href="detalhe-produto">
                <img class="card-img-top" src="https://img.terabyteshop.com.br/produto/g/microfone-hyperx-quadcast-s-usb-led-rgb-white-519p0aa_146663.jpg" alt="Card image">
            </a>
                <div class="card-body">
                <h4 class="card-title">Microfone Gamer HyperX</h4>
                <p class="card-text">Microfone Gamer HyperX QuadCast S Podcast O HyperX QuadCast S é um microfone condensador USB que tem um ótimo som e uma ótima aparência. A iluminação RGB extremamente impressionante e os efeitos dinâmicos adicionarão estilo e elegância a qualquer transmissão ou configuração e são personalizáveis</p>
                <p class="card-text">R$850,00</p>
                <a href="detalhe-produto" class="btn btn-primary custom-button">Detalhes do Produto</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card color-changing-element" style="width: auto;">
            <a href="detalhe-produto">
                <img class="card-img-top" src="https://images.tcdn.com.br/img/img_prod/1144186/memoria_ram_corsair_vengeance_rgb_pro_8gb_3200mhz_ddr4_1175_1_80a457eb8e4478bc5fab719850631f4e.jpg" alt="Card image">
            </a>
                <div class="card-body">
                <h4 class="card-title">Memória Ram Corsair Vengeance Rgb Pro 64gb 2x32gb 3200mhz</h4>
                <p class="card-text">A memória DDR4 da série CORSAIR VENGEANCE RGB PRO ilumina o seu PC com iluminação RGB multi-zona dinâmica hipnotizante, ao mesmo tempo que oferece o melhor em desempenho e estabilidade DDR4. Cada módulo possui dez LEDs RGB controlados individualmente, enquanto o design sem fio torna a instalação simples.</p>
                <p class="card-text">R$265,00</p>
                <a href="detalhe-produto" class="btn btn-primary custom-button">Detalhes do Produto</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card" style="width: auto;">
            <a href="detalhe-produto">
                <img class="card-img-top" src="https://novomundo.vteximg.com.br/arquivos/ids/28194814-1000-1000/16891812210025.jpg?v=638280235731700000" alt="Card image">
            </a>
                <div class="card-body">
                <h4 class="card-title">Water Cooler Gamdias Chione E2-120R RGB Preto 120mm</h4>
                <p class="card-text">EXCELENTE CONDUTIVIDADE TÉRMICA
                    A placa de base de cobre maximiza a dissipação de calor para oferecer um desempenho superior de resfriamento.
                     
                    EFICIÊNCIA
                    Como um resfriador de líquido all-in-one, o CHIONE E2-120 LITE não ocupa muito espaço e oferece diferentes opções de instalação. O design incrível simplifica a instalação e manutenção.</p>
                <p class="card-text">R$300,00</p>
                <a href="detalhe-produto" class="btn btn-primary custom-button">Detalhes do Produto</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card " style="width: auto;">
            <a href="detalhe-produto">
                <img class="card-img-top" src="https://cdn.dooca.store/2147/products/yok4tkxjzcgeytr6ds9hi38oi0d8fgnprhej_640x640+fill_ffffff.jpg?v=1663874709&webp=0" alt="Card image">
            </a>
                <div class="card-body">
                <h4 class="card-title">Gabinete Gamer Atx Com 3 Fans Rgb Lateral Vidro Temperado</h4>
                <p class="card-text">Pentamax tem a missão de levar ao consumidor qualidade e satisfação oferecendo garantia, nota fiscal, atendimento pôs vendas e suporte técnico, somos mercadolíder platinum, um dos melhores do site</p>
                <p class="card-text">R$263,99 </p>
                <a href="detalhe-produto" class="btn btn-primary custom-button">Detalhes do Produto</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card" style="width: auto;">
            <a href="detalhe-produto">
                <img class="card-img-top" src="https://d30u9wim1barf6.cloudfront.net/Custom/Content/Products/99/14/991472_fonte-corsair-cx750f-rgb-750w-80plus-bronze-full-modular-cp-9020227-br_m3_637443166533367122.jpg" alt="Card image">
            </a>
                <div class="card-body">
                <h4 class="card-title">Fonte Atx 650w Cx650f Full White Rgb 80 Plus Bronze Corsair</h4>
                <p class="card-text">Com a fonte de alimentação Corsair CX650F você pode garantir a corrente contínua e estável de seu computador desktop e otimizar o funcionamento de seus componentes.</p>
                <p class="card-text">799,99</p>
                <a href="detalhe-produto" class="btn btn-primary custom-button">Detalhes do Produto</a>
            </div>
        </div>
    </div>
</div>
<div class="image"> 
    <a href="carrinho-compras">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB9klEQVR4nO2Xv8tBYRTHD7KQAX+CUQYxSUaF0WhU/AF+ZWCgJJnYDcpgY7AxKNksLJYbE/+ClL5vz633ljd5e++v53p7Tn2ne+7t+zmd89zzEBHhw0W8DUAAEP8qQrQQ8a8kxBDTZ4p4G4AAIP5VhGgh+q9DHAgEcDgcIEnSk2azGRwOh/UBotEo7vc7XkUwGLQ+ABHB7XbD6/Uqms/nMsBwOEShUNBNoVDIGICfarfbMCL2+705ALlczhCA5XJpDkA4HDYEYDAYmAPgcrnweDx0BygWi+YAMJ1OJ90B4vG4eQCLxUJ3AJ/PZx5Av9/X1fz1elXlQzVAPp+3wgkE1QCxWExXgHq9bi4A+yPrFbvdDh6Px1wApsvlIhvo9Xqo1Wp/VrVaRTabhdPpVO1BE8BqtZIBMpmMFgPQKPUvs75lcT6f5VOp2+3+Wel0mh8A21K3262m/j8ej/wAmNilJpVKoVQqqZqBSCTCF8ACIs0fYa1UqVTQaDR+XQf8fj+azSbK5bK8FFoCYDqdKj29Xq/f5m42GyV3MplYA4CdQt9xu91gs9le5tnt9qf7tSRJ1gDodDqKqdFo9DZ3PB4rua1WyxoATIlEAslkUq7yuzz2nOWp3P1hGABHEW8DEADEv4oQLUT8KwkxxPSZIt4GIACIfxVV6wv44HcvywZ4GgAAAABJRU5ErkJggg==" class="rounded-pill border canto fixed " alt="">
    </a>
  </div> 
<br><br><br>

