<div class="row">
  <div class="col-xl-3"></div>
  <div class="container border p-5 col-xl-6">
    <div class="d-flex justify-content-center">
      <h2>Informe seu email </h2><br><br><br><br></div>
      <div class="mb-3">
        <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Insira seu email">
      </div><br><br>
      <div class="d-flex justify-content-center">
          <button type="Enviar" id="Enviar" class="quadrado">Enviar</button>
      </div>
  
  </div>  
  <div class="col-xl-3"></div>

</div>

